@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
body{
	
}

.barra-top{
	width: 100%;
	height: auto;
	display: inline-table;
	text-align: right;
}

.barra-top span{
	color: #333;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .7em;
	padding: 5px 65px;
}

#cabecera{
	background-color: #f7f7f7;
	display: block;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 99;
}

::selection {
	background: rgba(82,184,0,0.7); 
	color: #fff;
}
.logo{
	display: inline-block;
	margin: .2% 0% 0% 7%;
	width: 14%;
}

.logo img{
	display: block;
	margin: -16px auto;
	padding: 0;
	width: 90%;
}

nav{
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 75%;
}

nav a{
	color: #3a3a3a;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	height: 10px;
	margin: 2% 0;
	padding: 0% 1%;
	position: relative;
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

nav a:hover {
	color: #52b800;
}

.portada{
	background:url(../img/textura.png);
	background-position: top top, 0 0;
	background-size: 100%;
	background-attachment: fixed;
	border-bottom: 4px solid #48a101;
	width: 100%;
	height: 603px;
	margin-top: 80px;
	display: inline-block;
	}

.port-tiendas{
	height: 0px;
	border-bottom: 0px;
}

.texto-portada{
	width: 50%;
	margin: 15% 0% 12% 5%;
	display: inline-block;
	float: left;

}

.texto-portada h1{
	color: #3a3a3a;
	font-family: 'Dosis', serif;
	font-size: 2.9em;
	font-weight: 400;
	text-align: right;
}

.texto-portada h2{
	color: #52b800;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	font-weight: 400;
	text-align: right;
	margin-top: -5px;
}

.texto-portada a{
	background-color: #52b800;
	border-bottom: 4px solid #48a101;
	border-radius: 5px;
	color: white;
	font-size: 1.1em;
	font-family: 'Dosis', sans-serif;
	float: right;
	margin: 2% 1%;
	padding: 1.5% 5%;
	text-align: right;
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.texto-portada a:hover{
	background-color: #48a101;
	color: white;
}

.modelo img{
	width: 25%;
	margin: 7.8% 7% 1%;
	display: inline-block;
	float: right;
}

/****************************tiendas***********************************/

.contenido-tiendas h2{
	color: #48a101;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
	padding: 2.5% 0;
}

.contenido-tiendas h3{
	color: #333;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
	text-align: left;
	margin: 0 auto;
	padding: 1.5% 0;
	width: 77.5%;
}

.contenido-tiendas a{
	text-decoration: none;
}

.categoria{
	margin: 0 auto;
	display: block;
	width: 100%;
	text-align: center;
}

.fotos-tiendas{
	background-color: #eaeaea;
	display: inline-table;
	margin: 0 5px;
	text-align: center;
	width: 200px;
	height: 300px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.fotos-tiendas:hover{
	background: #d4ffb3;
	-webkit-transform: scale(1.02); 
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.fotos{ 
	width: 250px;
	height: 250px;
	padding: 0;
	display: inline-block;
}

.fotos-tiendas h3{
	width: 200px;
	color: #52b800;
	font-family: 'Dosis', cursive;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
}

.fotos-tiendas h4{
	width: 200px;
	color: #333;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	margin: 5px auto 20px;
	text-align: left;
}

.fotos-tiendas a{
	color: #52b800;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	margin: 10px auto;
	padding: 10px 15px;
	text-align: left;
	text-decoration: none;
}

.boton-tiendas{
	width: 100%;
	text-align: center;
	display: block;
	margin: 100px auto;
}

.boton-tiendas a{
	background-color: #52b800;
	border-bottom: 4px solid #48a101;
	border-radius: 5px;
	color: white;
	font-size: 1.1em;
	font-family: 'Dosis', sans-serif;
	margin: 2% 1%;
	padding: 1% 4%;
	text-align: right;
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.boton-tiendas a:hover{
	background-color: #48a101;
	color: white;
}

.boton-derecha{
	margin:50px;
	display: inline-table;
	width: 45%;
}

/******************************INPUT************************/

.formulario {
    display:block;
    margin:3% auto 0;
    width: 65%;
    color: #333;
    text-align:center;
}

form {
    margin:0 auto;  
    width:100%;
}

.formulario input{
	font-family: 'Dosis', sans-serif;
    width:80%;
    background:#fff;
    padding:10px;
    font-size:1.2em;
    color:#333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 1%;
    padding: 1.5% 2.5%;
}

#nombre{
    width: 40%;
    display: inline-block;
    margin: 1%;
}

#submit {
	background-color: #52b800;
	border-bottom: 4px solid #48a101;
	border-radius: 5px;
	color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white; 	
    cursor: pointer;
    display: inline-block;
	font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    margin: 1% -1.5%;
    padding: 1.5% 1%;
    width: 15%;
    text-align: center;
}


/*****************contenido tiendas**************************/

.separacion{
	border-bottom: 1px solid #dadada;
	margin: 3% auto 1%;
	width: 90%;
}


/*************nuestros clientes************************/

#clientes{
	height: 200px;
	width: 100%;
	text-align: center;
	margin: 75px auto 350px;
}

#clientes h2{
	width: 100%;
	color: #333;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin: 2% auto;
}

#clientes a{
	text-decoration: none;
}


.opinion{
	display: inline-table;
	width: 300px;
	height: 300px;
	margin: 0 10px;
}

.opinion img{
	border: 4px solid #52b800;
	border-radius: 64px;
	display: block;
	height: 64px;
	margin: 10px auto;
	width: 64px;
}

.opinion h3{
	color: #52b800;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
}

.opinion h4{
	color: #52b800;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin: 0;
}

.opinion p{
	width: 100%;
	color: #333;
	font-family: 'Dosis', cursive;
	font-size: 1.1em;
	margin: 2% auto;
	text-align: center;
}


#clientes .opinion .quote {
	color: #52b800;
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	top: 0.2em;
	margin: 0 1px;
	font-family: Georgia, serif;
}

#contenido .decorator {
	background: url('../img/redondos.png');
	background-repeat: repeat-x;
	height: 10px;
	top:0px;
	position: relative;
	z-index: 0;
}

footer{
	background-color: #333;
	margin: -10px auto 0;
	height: 200px;
	width: 100%;
	text-align: center;
}

.columna{
	width: 17%;
	display: inline-table;
	margin: 0 1%;
}

.columna h4{
	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.4em;
	margin: 30px auto 20px;
	text-align: left;
}

.columna p{
	text-align: left;
	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1em;
}

.columna a{
	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	margin: 0px auto;
	text-align: left;
	text-decoration: none;
}

.columna a:hover{
	text-decoration: underline;
}

.columna p .email{
	color: #52b800;
}

.firma{
	background-color: #222;
	border-top: 1px solid #111; 
	display: block;
	height: auto;
	margin: 20px auto 0;
	width: 100%;
}

.logo-footer{
	width: 50%;
	height: 66px;
	float: left;
	background: #252525;
	position: relative;
	padding: 0 8% 0 12%;
}

.logo-footer img{
	width: 130px;
	float: left;
	margin-top: 5px;
}

.logo-footer h5{
	color: white;
	display: inline-table;
	font-family: 'Dosis', cursive;
	font-size: .9em;
	margin: 30px 0 0 -160px
}

.redes-sociales{
	background-color: #444;
	width: 30%;
	height: 66px;
	float: right;
}

.redes-sociales h5{
	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.4em;
	float: left;
	margin: 20px 0 0 10px;
}

.redes-sociales ul a{
	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.4em;
	float: left;
	text-decoration: none;
	margin: 20px 0 0 10px;
}

/***************Caracteristicas************/

.portada-caracteristas{
	width: 100%;
	height: 300px;
	text-align: center;
	background:url(../img/textura.png);
	background-position: top top, 0 0;
	background-size: 100%;
	background-attachment: fixed;
	border-bottom: 4px solid #48a101;
}

.foto-caracteristica{
	width: 200px;
	height: 200px;
	background-color: peru;
	margin: 130px auto;
	border: 3px solid #48a101;
	border-radius: 200px;
	-webkit-border-radius: 200px;  
  	-moz-border-radius: 200px;     

}


.caracteristicas .titulo h2{
	color: #3a7a09;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
	padding: 2.5% 0;
}

.icono-derecha{
	background-color: white;
	border-radius: 100px;
	border: 5px solid #3a7a09;
	display: inline;
	float: left;
	width: 20%;
}

.icono-izquierda{
	background-color: white;
	border-radius: 100px;
	border: 5px solid #3a7a09;
	display: inline;
	float: right;
	width: 20%;
}


.cont-carac{
	margin: 0 auto;
	display: block;
	width: 90%;
}

.pagos, .sociales, .posicionamiento{
	border-radius: 15px;
	display: block;
	margin: 5% auto 7%;
	-webkit-border-radius: 15px;  
  	-moz-border-radius: 15px;     
	width: 80%;
}

.pagos h3, .sociales h3, .posicionamiento h3{
	font-size: 1.5em;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	color: #3a7a09;
	padding: 10px 20px 10px;
}

.pagos h4, .sociales h4, .posicionamiento h4{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color: white;
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
	line-height: 1.3;
	text-align: left;
	margin-left: 160px;
	padding: 10px 40px;
	width: 50%;
	background-color: #3a7a09;
}

.seguridad, .trafico{
	border-radius: 15px;
	display: block;
	margin: 5% auto 7%;
	-webkit-border-radius: 15px;  
  	-moz-border-radius: 15px;     
	width: 80%;
}

.seguridad h3, .trafico h3{
	font-size: 1.5em;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	color: #3a7a09;
	padding: 10px 20px 10px;
	text-align: right;
}

.seguridad h4, .trafico h4{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	color: white;
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
	line-height: 1.3;
	text-align: right;
	margin-left: 280px;
	padding: 10px 40px;
	width: 50%;
	background-color: #3a7a09;
}

.banner{
	background-color: white;
	height: 400px;
	width: 100%;
}

/***************PLANES************/

#planes{
	background-color: #60b31f;
}

.contenido-planes{
	display: block;
	width: 80%;
	margin: 0% auto;
	padding-bottom: 5%;
	background-color: #60b31f
}

.contenido-planes h1{
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
	padding: 2.5% 0;
}

.tres-kilos{
	display: inline-block;
	width: 24.5%;
}

.plan1, .plan2, .plan3, .plan4{
	display: inline-table;
	margin: 0 45px;
}

.plan1 h2{
	background-color: #29abe2;
	border: 5px solid #0071bc;	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.8em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 130px;
}

.plan2 h2{
	background-color: #159351;
	border: 5px solid #004f25;	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.8em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 130px;
}

.plan3 h2{
	background-color: #f76c48;
	border: 5px solid #d83a0f;	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.8em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 130px;
}

.plan4 h2{
	background-color: #fcaa47;
	border: 5px solid #f39200;	color: white;
	font-family: 'Dosis', cursive;
	font-size: 1.8em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 130px;
}

/*****IMAGEN DEL TECHO*****/
.plan1 img, .plan2 img, .plan3 img, .plan4 img{
	width: 200px;
	display: inline-block;
	margin: -4px 0px -10px -27px;
	position: relative;
	z-index: 0;
}

/*******H3***********/
.plan1 h3{
	background-color: #29abe2;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 133px;
}

.plan2 h3{
	background-color: #159351;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 133px;
}

.plan3 h3{
	background-color: #f76c48;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 133px;
}

.plan4 h3{
	background-color: #fcaa47;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	width: 133px;
}



/**********BOTON ABRE TU TIENDA**********/
.plan1 a{
	background-color: #176c88;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom-radius: 5px;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	width: 133px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.plan2 a{
	background-color: #004f25;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom-radius: 5px;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	width: 133px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.plan3 a{
	background-color: #d83a0f;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom-radius: 5px;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	width: 133px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.plan4 a{
	background-color: #f39200;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom-radius: 5px;
	color: white;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1em;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	width: 133px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

/*******HOVER************/
.plan1 a:hover{
	background-color: #29abe2;
}

.plan2 a:hover{
	background-color: #159351;
}

.plan3 a:hover{
	background-color: #f76c48;
}

.plan4 a:hover{
	background-color: #fcaa47;
}


/**********PRECIO***************/
.plan1 span{
	background-color: white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: #29abe2;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
	padding: 7px 5px 12px;
	text-align: center;
	width: 133px;
}

.plan2 span{
	background-color: white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: #004f25;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
	padding: 7px 5px 12px;
	text-align: center;
	width: 133px;
}
.plan3 span{
	background-color: white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: #d83a0f;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
	padding: 7px 5px 12px;
	text-align: center;
	width: 133px;
}

.plan4 span{
	background-color: white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	color: #f39200;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: 1.5em;
	font-weight: 600;
	padding: 7px 5px 12px;
	text-align: center;
	width: 133px;
}

/*******MENSUAL**********/
.plan1 p{
	color: #29abe2;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: .9em;
	font-weight: 600;
	text-align: right;
	width: 149px;
	margin-top: -22px;
	margin-left: -38px;
}

.plan2 p{
	color: #004f25;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: .9em;
	font-weight: 600;
	text-align: right;
	width: 149px;
	margin-top: -22px;
	margin-left: -38px;
}

.plan3 p{
	color: #d83a0f;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: .9em;
	font-weight: 600;
	text-align: right;
	width: 149px;
	margin-top: -22px;
	margin-left: -38px;
}

.plan4 p{
	color: #f39200;
	display: block;
	font-family: 'Dosis', cursive;
	font-size: .9em;
	font-weight: 600;
	text-align: right;
	width: 149px;
	margin-top: -22px;
	margin-left: -38px;
}