@import url(fonts.css);
.fondo-index{
	background: url(../img/fondo.jpg);
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	
}
::selection {
	background: rgba(82,184,0,0.7); 
	color: #fff;
}

.barra-top{
	width: 100%;
	height: auto;
	display: inline-table;
	text-align: right;
}

.barra-top span{
	color: #333;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .7em;
	padding: 5px 65px;
}

#cabecera{
	background-color: #f7f7f7;
	display: block;
	height: auto;
	width: 100%;
	-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 99;
}

.logo{
	display: inline-block;
	margin: 0px 0 0px 60px;
	width: 9.5%;
	min-width: 100px;

}

.logo img{
	display: block;
	margin: -20px auto;
	padding: 0;
	width: 75%;
}


.portada{
	width: 100%;
	height: 500px;
	margin-top: 100px;
	display: inline-block;
	position: relative;
	z-index: 0;
}

.contenido{
	background-color: #f8f8f8;
	display: block;
	width: 80%;
	height: auto;
	margin: -40px auto 0;
	z-index: 1;
	padding-bottom: 30px;
	position: relative;
}

/*****Titulo video******/
.titulo-video{
	width: 400px;
	display: inline-block;
}

.titulo-video img{
	background-color: #ea6060;
	display: inline-block;
	padding: 10px;
	margin-top: 35px;
}

.titulo-video h2{
	color: #475055;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	margin: 40px 0 0 20px;
	position: absolute;
}

.titulo-video span{
	color: #475055;
	font-family: 'Roboto-Light', sans-serif;
	font-size: .8em;
	font-style: italic;
	margin: 0 0 0 20px;
	display: inline-block;
}

/******Boton**************/
.descripcion-video a{
	background-color: #52b800;
	border-bottom: 4px solid #48a101;
	border-radius: 5px;
	color: white;
	font-size: 1em;
	font-family: 'Roboto-Light', sans-serif;
	position: absolute;
	display: block;
	margin: 5% auto 0%;
	padding: 1% 4%;	
	position: absolute;
	text-decoration: none;
	text-align: center;
	width: 200px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.descripcion-video a:hover{
	background-color: #48a101;
	color: white;
}

.descripcion-video{
	width: 95%;
	margin: 0 auto;
	display: block;
}

.descripcion-video h3{
	color: #475055;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 1em;
	line-height: 1.5;
	display: inline-block;
	margin: 20px 0 20px 35px;
	width: 45%;
}


.video{
	height: 0;
	overflow: hidden;
	padding-bottom: 22%;
	padding-top: 30px;
	position: relative;
	margin: -11% 0 0 50%;
}

.video iframe,
.video object,
.video embed,
.video video{
	height: 100%;
	left: 0;
	display: inline-block;
	position: absolute;
	top: 0;
	width: 100%;
}

.separacion{
	background-color: #CCC;
	width: 95%;
	display: block;
	height: 1px;
	margin: 35px auto 40px;
}

.separacion2{
	background-color: #ccc;
	width: 95%;
	display: block;
	height: 1px;
	margin: 0 auto;
}

/************NOTICIAS***********/
.noticias-home{
	display: block;
	margin: 0 auto;
	height: auto;
	width: 95%;
	text-align: center;
}

/******primera noticia*****/
.first-new{
	height: auto;
	width: 30%;
	margin: 0 1%;
	display: inline-table;
}
/******primera seccion noticia*****/
.foto1{
	background-color: #333;
	width: 100%;
	min-width: 300px;
	display: inline-table;
	margin: 0 auto;
}
/******icono noticia*****/
.icono-noticias{
	background-color: #4BC7C7;
	display: block;
	padding: 8px;
	margin: -4px 0 0 4px;
	position: absolute;
}

/******titulo primera noticia*****/
.first-new h2{
	color: #475055;
	font-family: "Roboto-Medium",sans-serif;
	font-size: 1.3em;
	display: inline-table;
	text-align: center;
	margin: 10px 40px;
}
 .first-new span{
	color: #475055;
	font-family: 'Roboto-Light', sans-serif;
	font-size: .8em;
	font-style: italic;
	margin: 0;
	display: block;
	position: relative;
}
/******descripcion primera noticia*****/
.first-new h3{
	color: #475055;
	font-family: "Roboto-Light",sans-serif;
	font-size: 0.9em;
	line-height: 1.5;
	display: inline-table;
	margin: 10px auto;
	text-align: justify;
}

/******seccion de sociales*****/
.social{
	width: 100%;
	text-align: center;

}
.social img{
	display: inline;
}
.social span{
	margin: 0 ;
	display: inline-block;
	font-size: .7em;
}

/******BOton videos******/

.boton-videos a{
	background-color: #52b800;
	border-bottom: 4px solid #48a101;
	border-radius: 5px;
	color: white;
	display: block;
	font-size: 1em;
	font-family: 'Roboto-Light', sans-serif;
	position: absolute;
	margin: 3% auto;
	padding: 1% 5%;
	text-decoration: none;
	position: relative;
	width: 250px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.boton-videos a:hover{
	background-color: #48a101;
	color: white;
}


/*********INTERESES***********/
.intereses{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.sitios{
	width: 35%;
	display: inline-table;
}

.redes-sociales{
	width: 40%;
	display: inline-table;
	height: auto;
	margin: 0 auto;
}

.facebook{
	margin: 0 25px;
	top: -5px;
}

.redes-sociales h4, .sitios h4{
	color: #475055;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 1.2em;
	margin: 0;
	display: block;
	position: relative;
	padding: 4%;
}

.tiempo{
	width: 15%;
	display: inline-table;
	background-color: olive
}

footer{
	height: 190px;
	width: 100%;
	background-color: #333;
	position: absolute;
}

.cont-footer{
	display: block;
	margin: 0 auto;
	width: 80%;
}

.logo-footer{
	height: auto;
	text-align: center;
	display: inline-block;
	width: 200px;
	margin-top: 20px;
}

.logo-footer img{
	width: 80px;
	margin: 0px auto 0;
}

.menu-footer{
	height: auto;
	margin: 50px 45px 15px;
	width: 60%;
	float: right;
	display: inline-block;
	text-align: right;
}

.menu-footer h4{
	color: white;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 1.1em;
	padding: 4px 0;
}

.menu-footer a{
	color: white;
	display: inline-block;
	font-family: 'Roboto-Light', sans-serif;
	font-size: .8em;
	height: auto;
	padding: 2px;
	margin: 0 10px;
	text-decoration: none;
	border-bottom: 2px dotted #333;
}

.menu-footer a:hover {
	color: white;
	border-bottom: 2px dotted white;
}

/******FIRMA******/
.inferior{
	width: 100%;
	display: block;
}

.copyright{
	color: white;
	font-family: 'Roboto-Light', sans-serif;
	font-size: .7em;
	padding: 5px 0;
	width: 200px;
	float: left;
	text-align: center;
}

.autor{
	font-family: "Roboto-Light",sans-serif;
	color: #FFF;
	font-size: 0.7em;
	float: right;
	text-align: right;
	padding: 10px 5px;
}

.autor img{
	margin: -6px 4px;
}

/*********Sección Alcalde********/

.portada{
	width: 100%;
	height: 500px;
	margin-top: 100px;
	display: inline-block;
	position: relative;
	z-index: 0;
}
.secciones{
	width: 100%;
	height: 200px;
	margin: 80px auto;
}
.secciones img{
	width: 100%;
	height: auto;
	position: absolute;
}
.descripcion-texto h3{
	width: 50%;
	text-align: justify;
	display: inline-block;
	margin: 0px 50px;
}

.foto-alcalde {
    display: inline-block;
	position: absolute;
}

.foto-alcalde img{
	width: 100%;
}

.contenido-alcalde{
	height: auto;
}

/**********CONCËJOS*********/
.contenido-concejos{
	height: auto;
	text-align: center;
}
.titulo-concejal{
	width: 100%;
	display: block;
	text-align: left;
}

.cont-concejos{
	background-color: #FFF;
	height: auto;
	padding: 20px 10px;
	display: inline-table;
	width: 310px;
	margin: 20px 10px;
	text-align: center;
}
.cont-concejos h2{
	font-size: 1.3em;
}
.cont-concejos h3, .cont-concejos h4, .cont-concejos h5, .cont-concejos h6{
	font-size: 1em;
}

.cont-concejos a{
	color: #48a101;
}

.cont-concejos a:hover{
	border-bottom: 2px solid #48A101;
	color: #48a101;
}

.cont-concejos img{
	width: 200px;
	border-radius: 200px;
}

/*********DEPARTAMENTOS*********/
.titulo-deptos{
	width: 100%;
	display: block;
	text-align: left;
}

.titulo-deptos h1{
	color: #475055;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	margin: 40px 0 0 20px;
	position: absolute;
}

.seccion-deptos{
	background-color: #FFF;
	height: auto;
	display: inline-table;
	margin: 3% 0px 0px 3%;
	width: 20%;
}

.seccion-deptos a{
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.seccion-deptos a:hover{
	background-color: #48A101;
	border-bottom: 2px solid #48A101;
	color: white;
}

.active-sub{
	color: white;
	border-bottom: 5px dotted #333;
	background-color: #48A101;
}

.perfil-jefe-depto{
	background-color: white;
	height: auto;
	padding: 20px 10px;
	margin: 0px 0 0 25px;
	text-align: center;
}
.perfil-jefe-depto h2, .info-depto h2	{
	font-size: 1.5em;
}

.info-depto h3{
	text-align: justify;
	font-size: .9em;
}

.perfil-jefe-depto a{
	color: #48a101;
	width: 100%;
}

.perfil-jefe-depto img{
	width: 150px;
	border-radius: 200px;
}

.contenido-deptos{
	height: auto;
	text-align: left;
	padding-bottom: 100px;
}

.info-depto{
	background-color: #F8F8F8;
	width: 70%;
	position: relative;
}

.derecha{
	float: right;
}

.derecha h2{
	font-size: 1em;
	font-weight: 600;
}
.derecha h3{
	font-size: .9em;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.sacar-fondo-verde a{
	border: 2px solid white;
	text-align: center;
	display: block;
}

.sacar-fondo-verde a:hover{
	background:none;
	color: #48a101;
}

.titulo-big h2{
	font-size:1.4em; 
	font-weight:600;
}

/*******Grilla****/

table{
	margin-top: 25px;
}

tr th{
    font-family: 'aeroregular', sans-serif;
    font-size: 1em;
    color: white;
    width: 300px;
    height: 30px;
    background-color: #0097c7;
    padding: 1% 2%; 
    text-align: center;
    border: 1px solid #006aa7;

}

tr td{
    background-color: white;
    border: 1px solid #006aa7;
    font-family: 'aeroregular', sans-serif;
    font-size: 1em;
    color: #0097c7;
    padding: 1% 2%; 
    text-align: left;
}

/*******NOTICIAS*******/

.contenido-noticias{
	height: auto;
	text-align: left;
	padding-bottom: 100px;
	margin-top: -250px
}

.info-noticia{
	width: 90%;
	background-color: white;
	display: inline-block;
	margin: 20px 5%;
}

.info-noticia h2{
	margin: 0px 5% 0px 1%;
    width: 59.7%;
}

.noticias-home a{
}

.first-new a{
	color: #444;
}

.titulo-new-boton a{
	border: none;
}

.titulo-new-boton a:hover{
	color: #48A101;
	background-color: white;
	border: none;
}

.info-noticia span{
	margin: 0 0 0 15px;
	color: #475055;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: .9em;
	font-style: italic;
}

.info-noticia h3{
	padding: 1%;
    font-size: 1em;
    line-height: 1.3;
    float: left;
    width: 65%;
    border:none;
}

.todo-noticia h3{
	width: 60%;
}

.foto-noticia img{
   	width: 100%;
	margin: 0;
	height: 100%;
}

.izquierda{
	float: left;
	position: relative;
	width: 30%;
}

.foto-noticia-big img{
	width: 100%;
	margin: 20px 60px 0px 0px;
}

.volver-atras{
	margin:-55px 55px 0 0;
}

.volver-atras img{
	width: 40px;
	background-color: #48A101;
	display: inline-block;
	border-radius: 20px;
	padding: 2px 3px;
	border-bottom: 3px solid #527c00
}

.volver-atras img:hover{
	background-color: #74a80f
}

/*********GALERIA**********/
.contenedor-img{
	width: 75%;
}
.submenu-galeria{
	width: 150px;
	float: left;
}

.imagenes-galeria{
	display: inline-table;
	margin: 10px;
}

.imagenes-galeria img{
	border-radius: 0;
}

.imagenes-galeria h3{
	text-align: center;
}

.centro-alcalde{
    display: block;
    width: 80%;
    margin: 0 auto;
    background:none;
}


/*********NAVEGACION***********/

.wp-pagenavi{
    margin: 50px auto 0;
    text-align:center;
}

.pages{
     font-family: 'Roboto-Light', sans-serif;
     color: #52b800;
 }

.current{
    background-color: #52b800;
    border-radius: 20px;
    color: white;
    font-size: .9em;
    font-family: 'Roboto-Light', sans-serif;
    padding: 3px 8px;
	margin: 7px;
}

.page, .nextpostslink, .previouspostslink{
     font-family: 'Roboto-Light', sans-serif;
     color: #52b800;
     margin: 0 5px;
}

.redes-sociales-pg{
	width: 100%;
	display: inline-block;
	margin: 20px 55px;
}