@import url('fonts.css');

#contacto .titulo h2{
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    display: block;
    color: #fc8105;
    text-align: center;
    padding: 1em 0;
    margin: 50px auto;
}


.formulario {
    display:block;
    margin: 50px auto;
    width: 50%;
    color: #333;
}

form {
    margin:0 auto;  
    width:100%;
}

.formulario input, .formulario select, .formulario textarea{
    font-family: 'Roboto-light', sans-serif;
    width:70%;
    background:#fff;
    padding:15px;
    font-size:.9em;
    color:#222;
    border-radius: 5px;
    margin: 2%;
}

.formulario textarea {
    height:110px;
}

#nombre, #telefono, #email, #ciudad, #mensaje{
    width: 91%;
    display: inline-block;
    margin: 1%;
}


label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 12px;
    font-family: 'Roboto-light', sans-serif;
}

#submit {
    background-color: #48A101;
    border-bottom: 5px solid #48A101;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Roboto-Medium', arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    margin: 4% auto;
    padding: 1% 2%;
    width: 35%;
    text-align: center;
}

#submit:active{
    border-bottom: 0px solid #0b4602;
    margin-top: 5%;
}

@media screen and (max-width: 800px) {
    #nombre, #telefono, #email, #ciudad{
        width: 94%;
    }

    #submit {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .formulario {
        display:block;
        margin:50px auto;
        width: 80%;
        color: #333;
    }
    #nombre, #telefono, #email, #ciudad{
        width: 94%;
        display: inline-block;
        margin: 1% auto;
    }

    #submit {
        width: 70%;
    }


    .formulario input, .formulario textarea {
        margin: 1% auto;
    }
}