/****NAV****/


.menu{
    height: 70px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);   
}

/* Nuestro nav con id #menu lo flotaremos a la derecha*/
#menu{ 
    display: inline-block;
    width: 80%;
}
 
    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
 
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
        }
 
            /* Damos estilo a nuestros enlaces */
            #menu li a{
                display: block;
                text-decoration: none;
                height: 82px;
                line-height: 110px;
                padding: 0 15px;
                font-size: .8em;
                font-family: 'Roboto-Medium', arial, sans-serif;
            }
                #menu li a:hover{
                    color: #006095;
                    background-color: #eee;
                    border-bottom: 5px solid #006095;
                }

                #menu .active {
                    color: #006095;
                    border-bottom: 5px solid #006095;
                    background-color: #eee;
                }

 
/* Estilos #nav-mobile y lo ocultamos */
#nav-mobile{
    display: none;
    background: url(../img/nav.png) no-repeat center center;
    float: right;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
    top:20px;
    opacity: .6;
}
 
    /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
    #nav-mobile.nav-active{
        opacity: 1;
    }

    