@import url(fonts.css);
body{
	background: url(../img/fondo-portada.jpg);
	background-position: top center 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.logo img{
	margin: 0 auto;
	display: block;
	width: 10%;
}

.titulo{
	color: #5c5c5c;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 1.7em;
	display: block;
	margin: 7% auto 0;
	text-align: center;
	padding: 1%;
}


.titulo1{
	color: #5c5c5c;
	font-family: 'Roboto-Light', sans-serif;
	font-size: 1.5em;
	display: block;
	margin: 0 auto ;
	text-align: center;
	padding: 1%;
}