
/*
    MEDIA QUERY
*/

@media only screen and (max-width: 1024px) {
        .logo {
            display: block;
            margin: 0 auto 0;
            width: 9%;
            min-width: 100px;
        }

        #menu{
            display: block;
            margin: 15px auto;
            width: 100%;
            text-align: center;
        }
        #menu li a{
                height: 32px;
                line-height: 35px;
                padding: 0 10px;
                font-size: .8em;

        }

        .video {
            margin: -18% 0px 0px 50%;
        }

        .menu-footer {
            margin: 50px 0px 15px;
        }

        .seccion-deptos {
            display: block;
            margin: 30px auto;
            width: 80%;
        }

        .perfil-jefe-depto {
            padding: 20px 10px;
            margin: 0px auto;
            text-align: center;
        }
        .derecha{
            float: none;
        }

        .info-depto h2{
            display: inline-block;
            width: 100%;
            margin: 10px auto;
            text-align: center;
    }
    .derecha h3{
        width: 40%;
    }

    .contenido-noticias {
        text-align: center;
    }
    /***foto noticia****/
    .foto-noticia img {
        margin: 0px auto;
        display: block;
        text-align: center;

    }
    .izquierda {
        float: none;
        width: 100%;
    }
    .info-noticia {
        width: 40%;
        display: inline-table;
        margin: 2%;
        text-align: center;
    }
    .info-noticia h2 {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .info-noticia h3 {
        float: none;
        width: 100%;
    }

    .todo-noticia{
        width: 60%;
    }

    .todo-noticia h3{
        width: 90%;
        margin: 2% 5%;
        display: block;
    }

    .redes-sociales{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

}

@media only screen and (max-width: 800px) {
        
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
    #menu{
        width: 100%;
        float: none;
        padding-top: 0px;
        margin: 0;
    }
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #006095;
                border: none;
                float: none;
                width: 100%;
            }

            /* Quitamos el borde del ultimo item del menú */
            #menu li:last-child{ border-bottom: 0;}
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                    color: white;
                    border-bottom: 2px solid #006095;
                }
                #menu li a:hover{background:#fff;border-bottom: 2px solid #006095;;}

                #menu .active {
                    border-bottom: 2px solid #006095;
                }


        /* Agregamos    una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;
        }

    .logo{
        float: none;
        display: block;
    }
    .logo img{
        display: block;
        width: 80px;
        margin: 0px auto;
/* padding-top: 10px; */
    }

    .barra-top{
        display: none;
    }

    #cabecera{
    height: 80px;
    
    }
     .foto1 {
        background-color: #333;
        width: 100%;
        min-width: 300px;
        display: inline-table;
        margin: 0px auto;
    }

    .descripcion-video h3 {
        display: block;
        margin: 20px auto;
        width: 90%;
    }

    .video {
        margin: 30px 16px;
        padding-bottom: 56%;
        padding-top: 0px;
    }

    .descripcion-video a {
        margin: 64% 3%;
        padding: 1% 5%;
        width: 80%;
    }

    .separacion{
        margin-top: 80px;
        width: 100%;
    }

    .separacion2 {
        margin: 40px auto;
        width: 100%;
    }


    .logo-footer {
        display: block;
        margin: 0 auto;
    }

    .menu-footer {
        margin: 20px auto;
        display: block;
        width: 100%;
        float: none;
        text-align: center;
    }

    .copyright {
        float: none;
        margin: 0 auto;
    }

    .autor {
        float: none;
        text-align: center;
        margin: 0 auto
    }
        footer{
        height: auto;
    }
    .menu-footer a {
        display: inline-block;
        font-size: 0.8em;
        padding: 8px 6px;
        margin: 0px 10px;
    }

    /******ALCALDE*******/
    .foto-alcalde {
        display: block;
        position: relative;
        margin: 10px auto;
        width: 50%;
    }
    .derecha h3{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .portada {
        margin-top: 100px;
        height: 300px;
    }
    

    .redes-sociales {
        width: 90%;
        display: block;
    }
        .sitios {
        width: 90%;
        display: block;
    }
        .titulo-video {
        width: 100%;
        display: block;
    }
    .secciones {
        height: 250px;
        margin: 80px auto 0px;
    }
    .cont-concejos {
        display: block;
        width: 80%;
        padding: 20px;
        margin: 20px auto;
    }
    .derecha h3{
        width: 100%;
    }
    .seccion-deptos a {
        padding: 10px 5px;
    }
    .info-noticia {
        width: 90%;
        display: block;
        margin: 2% auto;
    }
    .current{
        font-size: 1.1em;
        padding: 4px 10px;
        margin: 7px;
    }
}


@media only screen and (max-width: 320px) {

    #nav-mobile{
        height: 40px;
    }
    .logo img{
        margin: 0px auto;
    }
    .menu{
        height: 60px;
        position: fixed;
    }

    .contenido {
        display: block;
        width: 100%;
        margin: 0px auto 0px;
    }

    .foto1 {
        min-width: 150px;
    }

    .first-new {
        width: 95%;
        margin: 0px auto;
        display: block;
    }

    .first-new h2 {
        margin: 5px;
    }

    .icono-noticias {
        display: none;
    }

    .descripcion-video a {
        margin: 73% 3%;
    }

    .boton-videos a {
        padding: 3% 5%;
    }

    /****alcalde****/
    .foto-alcalde {
        width: 90%;
    }

     .contenido-alcalde {
        display: block;
        margin: -40px auto 0px;
    }
    .secciones img {
        width: 160%;
        position: fixed;
        z-index: -99;
    }
    .cont-concejos {
        width: 90%;
    }

    .titulo-concejal h2 {
        display: inline-block;
        margin: 35px 15px;
        font-size: 1.3em;
    }
    .logo-footer img {
        display: none;
    }

    .titulo-deptos h1 {
        font-size: 1.2em;
    }
    .secciones {
        height: 0;
    }
}
