@font-face {
    font-family: 'Panefresco';
    src: url('./fonts/Panefresco.eot');
    src: url('./fonts/Panefresco.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Panefresco.woff') format('woff'),
         url('./fonts/Panefresco.ttf') format('truetype'),
         url('./fonts/Panefresco.svg#Panefresco') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panefresco400';
    src: url('./fonts/Panefresco400.eot');
    src: url('./fonts/Panefresco400.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Panefresco400.woff') format('woff'),
         url('./fonts/Panefresco400.ttf') format('truetype'),
         url('./fonts/Panefresco400.svg#Panefresco400') format('svg');
    font-weight: normal;
    font-style: normal;
}