/*

Theme Name: Puerto Octay Theme

Theme URI: http://www.munipuertoctay.cl/

Author:  Abel O'Rian

Author URI: http://desarrollando.la/
Description: Theme creado para Municipalidad de Puerto Octay.
Version: 1.2

License: Uso comercial

License URI: 

*/

//SLIDER

@import url(fonts.css);

.ei-slider{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto 0;
}
.ei-slider-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:999;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    line-height: 400px;
}
.ei-slider-large{
    height: 100%;
    width: 100%;
    position:relative;
    overflow: hidden;
}
.ei-slider-large li{
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img{
    width: 100%;
}
.ei-title{
    position: absolute;
    right: 50%;
    margin-right: 13%;
    top: 30%;
}
.ei-title h2, .ei-title h3{
    text-align: right;
}
.ei-title h2{
    font-size: 40px;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #b5b5b5;
}
.ei-title h3{
    font-size: 70px;
    line-height: 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #000;
}
.ei-slider-thumbs{
    height: 13px;
    margin: 0 auto;
    position: relative;
}
.ei-slider-thumbs li{
    position: relative;
    float: left;
    height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 10;
    text-indent: -9000px;
    background: #333333;
    background: rgba(50,50,50,0.9);
}
.ei-slider-thumbs li a{
    display: block;
    text-indent: -9000px;
    background: #EB9E29 ;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    margin-top: -48px;
    cursor: pointer;
    -webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
    box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
    background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
    position: absolute;
    bottom: 50px;
    top: -50px;
    opacity: 0;
    z-index: 999;
    max-width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-reflect: 
        below 0px -webkit-gradient(
        linear, 
        left top, 
        left bottom, 
        from(transparent), 
        color-stop(50%, transparent), 
        to(rgba(255,255,255,0.3))
        );
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
    opacity: 1;
    bottom: 13px;
    top: -130px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


//Estilo.css


.fondo-index{
    background: url(../img/fondo.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

}
::selection {
    background: rgba(82,184,0,0.7); 
    color: #fff;
}

.barra-top{
    width: 100%;
    height: auto;
    display: inline-table;
    text-align: right;
}

.barra-top span{
    color: #333;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    padding: 5px 65px;
}

#cabecera{
    background-color: #f7f7f7;
    display: block;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
}

.logo{
    display: inline-block;
    margin: 0% 0% 0% 7%;
    width: 10%;
}

.logo img{
    display: block;
    margin: -20px auto;
    padding: 0;
    width: 75%;
}

nav{
    height: auto;
    margin: -40px 0 0 230px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 75%;
}

nav a{
    color: #3a3a3a;
    display: inline-block;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: .8em;
    height: 30px;
    margin: -1% 0;
    padding: 0% 1%;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: #006095;
    border-bottom: 5px solid #006095;
}


.active {
    color: #006095;
    border-bottom: 5px solid #006095;
}


.portada{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.contenido{
    background-color: #f8f8f8;
    display: block;
    width: 80%;
    height: 1200px;
    margin: -40px auto 0;
    z-index: 1;
    position: relative;
}

/*****Titulo video******/
.titulo-video{
    width: 400px;
    display: inline-block;
}

.titulo-video img{
    background-color: #ea6060;
    display: inline-block;
    padding: 10px;
    margin-top: 35px;
}

.titulo-video h2{
    color: #475055;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    margin: 40px 0 0 20px;
    position: absolute;
}

.titulo-video span{
    color: #475055;
    font-family: 'Roboto-Light', sans-serif;
    font-size: .8em;
    font-style: italic;
    margin: 0 0 0 20px;
    display: inline-block;
}

/******Boton**************/
.descripcion-video a{
    background-color: #52b800;
    border-bottom: 4px solid #48a101;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-family: 'Roboto-Light', sans-serif;
    position: absolute;
    display: block;
    margin: 5% auto 0%;
    padding: 1% 4%;	
    position: absolute;
    text-decoration: none;
    text-align: center;
    width: 200px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.descripcion-video a:hover{
    background-color: #48a101;
    color: white;
}

.descripcion-video{
    width: 95%;
    margin: 0 auto;
    display: block;
}

.descripcion-video h3{
    color: #475055;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    display: inline-block;
    margin: 20px 0 20px 35px;
    width: 45%;
}


.video{
    display: inline;
    margin: 20px;
    position: absolute;
}

.separacion{
    background-color: #CCC;
    width: 95%;
    display: block;
    height: 1px;
    margin: 180px auto 40px;
}

.separacion2{
    background-color: #ccc;
    width: 95%;
    display: block;
    height: 1px;
    margin: 0 auto;
}

/************NOTICIAS***********/
.noticias-home{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 95%;
    text-align: center;
}

/******primera noticia*****/
.first-new{
    height: auto;
    width: 30%;
    margin: 0 1%;
    display: inline-table;
}
/******primera seccion noticia*****/
.foto1{
    background-color: #333;
    width: 100%;
    display: inline-table;
    margin: 0 auto;
}
/******icono noticia*****/
.icono-noticias{
    background-color: #4bc7c7;
    display: block;
    padding: 10px;
    margin: 0;
    position: absolute;
}

/******seccion de sociales*****/
.social{
    width: 100%;
    text-align: center;

}
.social img{
    display: inline;
}
.social span{
    margin: 0 ;
    display: inline-block;
    font-size: .7em;
}

/******BOton videos******/

.boton-videos a{
    background-color: #52b800;
    border-bottom: 4px solid #48a101;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 1em;
    font-family: 'Roboto-Light', sans-serif;
    position: absolute;
    margin: 3% auto;
    padding: 1% 5%;
    text-decoration: none;
    position: relative;
    width: 250px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}

.boton-videos a:hover{
    background-color: #48a101;
    color: white;
}


/*********INTERESES***********/
.intereses{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.sitios{
    width: 35%;
    display: inline-table;
}

.redes-sociales{
    width: 40%;
    display: inline-table;
    height: auto;
    margin: 0 auto;
}

.facebook{
    margin: 0 25px;
    top: -5px;
}

.redes-sociales h4, .sitios h4{
    color: #475055;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.2em;
    margin: 0;
    display: block;
    position: relative;
    padding: 4%;
}

.tiempo{
    width: 15%;
    display: inline-table;
    background-color: olive
}

footer{
    height: 175px;
    width: 100%;
    background-color: #333;
}

.cont-footer{
    display: block;
    margin: 0 auto;
    width: 80%;
}

.logo-footer{
    width: 200px;
    height: auto;
    text-align: center;
    display: inline-block;
}

.logo-footer img{
    width: 80px;
    margin: 15px auto 0;
}

.menu-footer{
    height: auto;
    margin: 50px 45px 15px;
    width: 60%;
    float: right;
    display: inline-block;
    text-align: right;
}

.menu-footer h4{
    color: white;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1.1em;
    padding: 4px 0;
}

.menu-footer a{
    color: white;
    display: inline-block;
    font-family: 'Roboto-Light', sans-serif;
    font-size: .7em;
    height: auto;
    padding: 2px;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px dotted #333;
}

.menu-footer a:hover {
    color: white;
    border-bottom: 2px dotted white;
}

/******FIRMA******/
.inferior{
    width: 100%;
    display: block;
}

.copyright{
    color: white;
    font-family: 'Roboto-Light', sans-serif;
    font-size: .7em;
    padding: 5px 0;
    width: 200px;
    float: left;
    text-align: center;
}

.autor{
    color: white;
    font-family: 'Roboto-Light', sans-serif;
    font-size: .7em;
    padding: 5px;
    text-align: right;
    float: right;
}


/*********Sección Alcalde********/

.portada{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.secciones{
    width: 100%;
    height: 200px;
    margin: 80px auto;
}
.secciones img{
    width: 100%;
    height: auto;
    position: absolute;
}
.descripcion-texto h3{
    width: 60%;
    text-align: justify;
}

.foto-alcalde{
    width: 35%;
    float: right;
    position: relative;
}
.foto-alcalde img{}

.contenido-alcalde{
    height: 800px;
}

/**********CONCËJOS*********/
.centro-alcalde{
    display: block;
    width: 80%;
    margin: 0 auto;
    background:none;
}

.contenido-concejos{
    height: auto;
    text-align: center;
}
.titulo-concejal{
    width: 100%;
    display: block;
    text-align: left;
}

.cont-concejos{
    height: auto;
    padding: 20px 10px;
    display: inline-table;
    margin: 20px 10px;
    text-align: center;
}
.cont-concejos h2{
    font-size: 1.3em;
}
.cont-concejos h3, .cont-concejos h4, .cont-concejos h5, .cont-concejos h6{
    font-size: 1em;
}

.cont-concejos a{
    color: #48a101;
}

.cont-concejos a:hover{
    border-bottom: 2px solid #48A101;
    color: #48a101;
}

.cont-concejos img{
    width: 200px;
    border-radius: 200px;
}

/*********DEPARTAMENTOS*********/
.titulo-deptos{
    width: 100%;
    display: block;
    text-align: left;
}

.titulo-deptos h1{
    color: #475055;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    margin: 40px 0 0 20px;
    position: absolute;
}

.seccion-deptos{
    background-color: #FFF;
    height: auto;
    padding: 20px 10px;
    display: inline-table;
    margin: 30px 0 0 30px;
}

.seccion-deptos a{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.seccion-deptos a:hover{
    background-color: #48A101;
    border-bottom: 2px solid #48A101;
    color: white;
}

.active-sub{
    color: white;
    border-bottom: 5px dotted #333;
    background-color: #48A101;
}

.perfil-jefe-depto{
    background-color: white;
    height: auto;
    padding: 20px 10px;
    margin: 0px 0 0 25px;
    text-align: center;
}
.perfil-jefe-depto h2, .info-depto h2	{
    font-size: 1.5em;
}

.info-depto h3{
    text-align: justify;
    font-size: .9em;
}

.perfil-jefe-depto a{
    color: #48a101;
}

.perfil-jefe-depto img{
    width: 150px;
    border-radius: 200px;
}

.contenido-deptos{
    height: auto;
    text-align: left;
    padding-bottom: 100px;
}

.info-depto{
    background-color: #F8F8F8;
    position: relative;
    width: 70%;
    display: inline-table;
}

.derecha{
    float: right;
}

.derecha h2{
    font-size: 1em;
    font-weight: 600;
}
.derecha h3{
    font-size: .9em;
    text-align: center;
}

.sacar-fondo-verde a{
    border: none;
}

.sacar-fondo-verde a:hover{
    background-color: white;
    color: #48a101
}

/*******Grilla****/

table{
    margin-top: 25px;
}

tr th{
    font-family: 'aeroregular', sans-serif;
    font-size: 1em;
    color: white;
    width: 300px;
    height: 30px;
    background-color: #0097c7;
    padding: 1% 2%; 
    text-align: center;
    border: 1px solid #006aa7;

}

tr td{
    background-color: white;
    border: 1px solid #006aa7;
    font-family: 'aeroregular', sans-serif;
    font-size: 1em;
    color: #0097c7;
    padding: 1% 2%; 
    text-align: left;
}

/*******NOTICIAS*******/

.contenido-noticias{
    height: auto;
    text-align: left;
    padding-bottom: 100px;
    margin-top: -250px
}

.info-noticia{
    width: 90%;
    background-color: white;
    display: inline-block;
    margin: 20px 5%;
}

.info-noticia h2{
    margin: 0px 5% 0px 1%;
    width: 59.7%;

}

.all h3{
    padding: 1%;
    font-size: 1em;
    line-height: 1.3;
    float: left;
    width: 62%;
}

.titulo-new-boton a{
    border: none;
}

.titulo-new-boton a:hover{
    color: #48A101;
    background-color: white;
    border: none;
}

.info-noticia span{
    margin: 0 0 0 15px;
    color: #475055;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: .9em;
    font-style: italic;
}

.info-noticia h3{
    padding: 1%;
    font-size: 1em;
    line-height: 1.3;
    float: left;
    width: 65%;
}

.titulo-new-boton-all h2{
    margin: 0px 5% 0px 1%;
    width: 50%;
    float: left;
}


.foto-noticia img{
    width: 305px;
    margin: 20px 10px;
    height: 200px;
}

.izquierda{
    float: left;
    position: relative;
}

.foto-noticia-big img{
    //width: 350px
}

.volver-atras{
    margin:-55px 55px 0 0;
}

.volver-atras img{
    width: 40px;
    background-color: #48A101;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 3px;
    border-bottom: 3px solid #527c00
}

.volver-atras img:hover{
    background-color: #74a80f
}




/***********RESPONSIVO***********************/

@media screen and (max-width: 930px) {
    /*slider*/
    .ei-title{
        position: absolute;
        right: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 10px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        padding: 5px 0;
    }
    .ei-title h2, .ei-title h3{
        text-align: center;
    }
    .ei-title h2{
        font-size: 20px;
        line-height: 24px;
    }
    .ei-title h3{
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 520px) {
    /*SLIDER*/
    .ei-slider{
        margin: 20em auto 0;
    }
}